ops-stack/workflows/website-maintenance-n8n.json
{
  "name": "Website Maintenance Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-1",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://leehub.xyz/",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-1",
      "name": "Check leehub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "url": "https://api.leehub.xyz/api/resources",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-2",
      "name": "Check api.leehub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-1-a",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-1",
      "name": "leehub OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "if-2-a",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-2",
      "name": "api OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        340
      ]
    },
    {
      "parameters": {
        "command": "cd /root/.openclaw/workspace/ops-stack && docker compose restart n8n metabase uptime-kuma"
      },
      "id": "exec-1",
      "name": "Restart Stack",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1010,
        260
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check leehub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check api.leehub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check leehub": {
      "main": [
        [
          {
            "node": "leehub OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check api.leehub": {
      "main": [
        [
          {
            "node": "api OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leehub OK?": {
      "main": [
        [],
        [
          {
            "node": "Restart Stack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "api OK?": {
      "main": [
        [],
        [
          {
            "node": "Restart Stack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
